    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        min-height: 100vh;
        background: #0c192c;
    }
    
    .container {
        position: relative;
        width: 100;
        height: 100vh;
        overflow: hidden;
    }
    
    .bubbles {
        position: relative;
        display: flex;
    }
    
    .bubbles span {
        position: relative;
        width: 30px;
        height: 30px;
        background: #4fc3dc;
        margin: 0 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
        animation: animate 15s linear infinite;
        animation-duration: calc(125s / var(--i));
    }
    
    .bubbles span:nth-child(even) {
        background: #ff2d75;
        box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
    }
    
    @keyframes animate {
        0% {
            transform: translateY(100vh) scale(0);
        }
        100% {
            transform: translateY(-10vh) scale(1);
        }
    }
    
    .center {
        padding: 70px 0;
        text-align: center;
        color: beige;
    }
    
    input[type=text],
    [type=password] {
        width: 40%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        opacity: 0.9;
    }
    
    input[type=text]:focus {
        border: 3px solid #555;
    }
    /* Clear floats */
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    /* Set a style for all buttons */
    
    input[type=button] {
        background-color: #4fc3dc;
        color: rgb(0, 0, 0);
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 40%;
        opacity: 0.9;
    }
    /* Float cancel and signup buttons and add an equal width */
    
    .cancelbtn,
    .signupbtn {
        float: left;
        width: 40%;
    }
    /* Change styles for cancel button and signup button on extra small screens */
    
    @media screen and (max-width: 300px) {
        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }